<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a href="/" class="navbar-brand">World of Tasty Food &#x1F37D;</a>
    <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse2">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse2">
      <div class="navbar-nav">
        <a href="/recipes" class="nav-item nav-link active">Recipes</a>
        <a href="/users" class="nav-item nav-link">User</a>
        <a href="/add-recipe" class="nav-item nav-link">Add Recipes </a>
      </div>



      <!-- Button trigger modal -->
      <button type="button" class="btn btn-primary login-btn ms-auto" data-bs-toggle="modal"
        data-bs-target="#exampleModal">
        Login/Sign-up
      </button>

      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">Login to see the World of Tasty Food &#x1F37D;</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form class="text-center" action="/login" method="POST">
                <div class="row">
                  <div class="col">
                    <label for="username">Username:</label>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <input type="text" , id="username" name="username">
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <label for="password">Password:</label>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <input type="password" id="password" name="password">
                  </div>
                </div>
                <div class="row my-2">
                  <div class="col">
                    <button class="btn btn-primary" id="myBtn" style="color: white;text-decoration:none">Login</button>
                  </div>
                </div>


              </form>
            </div>
            <div class="modal-footer">
              For access to great recipes <a href="/register">Register</a> here
            </div>
          </div>
        </div>
      </div>