<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a href="/" class="navbar-brand">World of Tasty Food &#x1F37D;</a>
    <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse2">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse2">
      <div class="navbar-nav">
        <a href="/recipes" class="nav-item nav-link active">Recipes</a>
        <a href="/users" class="nav-item nav-link">User</a>
        <a href="/add-recipe" class="nav-item nav-link">Add Recipes </a>
      </div>



      <button type="button" class="btn btn-primary login-btn ms-auto" id="logout">
        Logout
      </button>
    </div>