<div>
<form action="/comments" method="POST">
    <div class="card add_recipe_card">
        <h3 class="card-header">Add Comments</h3>
        <div class="card-body">
            <div class="mb-3">
                <label for="name" class="form-label">Dish Name:</label>
                <input type="text" class="form-control" id="comment" name="recipeName" value="{{renderRecipe.name}}"
                    readonly>
            </div>
            <div class="mb-3">
                <label for="username" class="form-label" >Username:</label>
                <input type="text" class="form-control" id="comment" name="username" value="{{username}}">
            </div>

            <div class="mb-3">
                <label for="recipe" class="form-label">Comment:</label>
                <textarea class="form-control" id="comment" rows="3" type="text" name="comment"></textarea>
            </div>


            <button class="btn btn-primary submit_btn" id="myBtn">Submit</button>
        </div>
    </div>
</form>

</div>