<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
      aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
      aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
      aria-label="Slide 3"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
      aria-label="Slide 4"></button>

  </div>
  <div class="carousel-inner">
    <div class="carousel-item active c-item">
      <a href="/recipes"><img
          src="https://c4.wallpaperflare.com/wallpaper/443/638/469/japanese-cuisine-food-japanese-food-sashimi-wallpaper-preview.jpg"
          class="d-block w-100 c-image" alt="Slide 1"></a>
    </div>
    <div class="carousel-item c-item">
      <a href="/recipes"> <img src="https://c0.wallpaperflare.com/preview/51/519/758/asian-chinese-close-up-dim-sum.jpg"
          class="d-block w-100 c-image" alt="Slide 2"> </a>
    </div>
    <div class="carousel-item c-item">
      <a href="/recipes"><img
          src="https://c0.wallpaperflare.com/preview/124/905/130/bowl-chopsticks-close-up-cuisine.jpg"
          class="d-block w-100 c-img" alt="Slide 3"></a>
    </div>
    <div class="carousel-item c-item">
      <a href="/recipes"><img
          src="https://c4.wallpaperflare.com/wallpaper/559/564/946/cuisine-food-india-indian-wallpaper-preview.jpg"
          class="d-block w-100 c-img" alt="Slide 4"></a>
    </div>
  </div>
</div>
<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
  <span class="visually-hidden">Previous</span>
</button>
<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
  <span class="carousel-control-next-icon" aria-hidden="true"></span>
  <span class="visually-hidden">Next</span>
</button>
</div>


<div class="landingpage_artical">
  <h1>Join our community For the best recipes </h1>
  <h2>Share, Comment, Cook And Care</h2>
  <h2>It is free and safe &#127828</h2>
</div>