<h1>This is the login page</h1>
<div class="container mx-auto" style="width:400px">
    <form >
    
        <div class="row">
          <div class="col">
        <label for="email">Email:</label>
        </div>
        </div>
        <div class="row">
          <div class="col">
        <input type="email", id="email" name="email">
        </div>
        </div>
        <div class="row">
          <div class="col">
<label for="password">Password:</label>
          </div>
        </div>
        <div class="row">
          <div class="col">
 <input type="password" id="username" name="password">
          </div>
        </div>
       <div class="row my-2">
        <div class="col">
<button class="btn btn-primary" id="myBtn">Login</button>
        </div>
       </div>
        
        For access to great recipes <a href="/register">Register</a>  here
    </form>
</div>
