<h1>This is a registration page</h1>
<div class="container mx-auto" style="width:400px">
    <form >
      <div class="row">
        <div class="col">
        <label for="username">Username:</label>
        </div>
        </div>
        <div class="row">
          <div class="col">
        <input type="text" id="username" name="username" >
        </div>
        </div>
        <div class="row">
          <div class="col">
        <label for="email">Email:</label>
        </div>
        </div>
        <div class="row">
          <div class="col">
        <input type="email", id="email" name="email">
        </div>
        </div>
        <div class="row">
          <div class="col">
<label for="password">Password:</label>
          </div>
        </div>
        <div class="row">
          <div class="col">
 <input type="password" id="username" name="password">
          </div>
        </div>
       <div class="row my-2">
        <div class="col">
<button class="btn btn-primary" id="myBtn">Register</button>
        </div>
       </div>
        
        Already a member<a href="/">Login</a>
    </form>
</div>
