<h1 class="users_header"> Our Users:</h1>

{{#each users as |user| }}
<div class="card users-card" style="width: 18rem;">
  <div class="card-header ">
    <h3 class=" no-underline users_username">{{user.username}}</h3>
  </div>
  <ul class="list-group list-group-flush">
    {{#if recipes.length}}
    {{#each recipes}}
    <li class="list-group-item"><a href="/recipes/{{id}}">
        <p class="card-text">{{name}}</p>
      </a></li>
    {{/each}}
    {{else}}
    No recipes associated with this user
    {{/if}}
  </ul>
</div>
{{/each}}